---

import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <div class="text-white h-full w-full  flex flex-col   justify-center items-center">
        <div class="py-20 text-9xl">
            The team
        </div>
        <div class="flex flex-row justify-center w-full h-full gap-20 text-9xl">
            <a class="flex flex-col text-center text-2xl bg-sand rounded-lg h-fit w-fit cursor-pointer" href="https://github.com/cryoxe" target="_blank" referrerpolicy="no-referrer">
                <img class="block w-fit rounded-t-lg" src="https://avatars.githubusercontent.com/u/71180076?s=70&v=4" alt="" style="width: 200px; "/>
                <div>
                    Arthur Mallet
                </div>
            </a>
            <a class="flex flex-col text-center text-2xl bg-sand rounded-lg h-fit w-fit" href="https://github.com/OwOchle" target="_blank" referrerpolicy="no-referrer">
                <img class="block w-fit rounded-t-lg" src="https://avatars.githubusercontent.com/u/62758885?v=4" alt="" style="width: 200px; "/>
                <div>
                    Chloé Magliulo
                </div>
            </a>
            <a class="flex flex-col text-center text-2xl bg-sand rounded-lg h-fit w-fit" href="https://github.com/Alunyx" target="_blank" referrerpolicy="no-referrer">
                <img class="block w-fit rounded-t-lg" src="https://avatars.githubusercontent.com/u/151916988?s=70&v=4" alt="" style="width: 200px; "/>
                <div >
                    Christina Michelard
                </div>
            </a>
            <a class="flex flex-col grow-0 text-center text-2xl bg-sand rounded-lg h-fit w-fit" href="https://github.com/Bastien1533" target="_blank" referrerpolicy="no-referrer">
                <div>
                    <img class="block w-fit rounded-t-lg" src="https://avatars.githubusercontent.com/u/48835311?v=4" alt="" style="width: 200px; "/>
                </div>
                <div>
                    Bastien Pinaud
                </div>
            </a>

        </div>
        <Footer />
    </div>
</Layout>