---
import log_image from "../../assets/bat_info_image.png"
---

<div id="logs" class="w-full h-full pb-12 bg-sand/80 flex flex-row justify-between px-20 py-5" style="font-family: 'Jersey 15', sans-serif">
    <span class="text-bozozo text-6xl">Each building is unique</span>
    <img class="shadow-lg shadow-black" src={log_image.src} width="400" height="100"  alt="Logs"/>
</div>
