---

---

<div class="w-full bg-ui-black text-sand text-xl text-center py-4 ">
    <div class="container mx-auto">
        <p class="text-2xl">
            &copy; 2025 RustuPolis. All rights reserved.
        </p>
        <div>
            <a href="/rustupolis/downloads" class="text-sand hover:opacity-50 mx-2">Downloads</a>
            <a href="/rustupolis/team" class="text-sand hover:opacity-50 mx-2">The Team</a>
        </div>
        <div>
            <p class="text-3xl">
                Follow us on:
                <a href="https://github.com/Deadelineurz/rustupolis" class="text-sand hover:opacity-50 mx-1">GitHub</a>
            </p>
        </div>
    </div>
</div>